name: Update SDK

on:
  workflow_dispatch:
    inputs:
      title_suffix:
        description: "Ex: Enter today's date 'Feb 11'"
        type: string
        required: true
      app_branch:
        description: 'Branch of docupilot/appserver'
        type: string
        default: 'main'
        required: true
      accounts_branch:
        description: 'Branch of docupilot/accounts'
        type: string
        default: 'main'
        required: true

jobs:
  create-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.16.0]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: actions/setup-node@v6
        id: setup-node
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com/

      - name: Cache node_modules
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-dependencies-${{ matrix.node-version }}-${{ hashFiles('package.json', 'package-lock.json') }}

      - if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}

      - name: update app openapi yaml
        run: |
          curl \
          -H "Accept: application/vnd.github.raw" \
          -H "Authorization: Bearer ${{ secrets.PRIVATE_DEPENDENCIES_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/docupilot/appserver/contents/openapi.yaml?ref=${{ inputs.app_branch }} \
          -o openapi-app.yaml

      - name: update accounts openapi yaml
        run: |
          curl \
          -H "Accept: application/vnd.github.raw" \
          -H "Authorization: Bearer ${{ secrets.PRIVATE_DEPENDENCIES_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/docupilot/accounts/contents/openapi.yaml?ref=${{ inputs.accounts_branch }} \
          -o openapi-accounts.yaml

      - run: git diff

      - run: echo $(git diff)

      - name: update app sdk
        run: npm run generate.app-spec.react

      - name: update accounts sdk
        run: npm run generate.accounts-spec.react

      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v8
        with:
          reviewers: tiholic, SumanthDocupliot, ravalikab, deekshith1856
          assignees: tiholic, SumanthDocupliot, ravalikab, deekshith1856
          title: SDK Update - ${{ inputs.title_suffix }}
          body: "Changes created by [workflow run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          delete-branch: true
          branch: automatic/update
